section {
  display: flex;
  width: 100%;
  min-height: 40rem;
  justify-content: center;
  background: var(--gray-800);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 80rem;
  padding: 2rem;
  gap: 5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title span {
  font-size: 0.87rem;
  font-weight: 300;
  color: var(--gray-200);
}

.title h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--green);
}

.aboutCompany {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.aboutCompany div {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  align-items: center;
}

.aboutCompany > span {
  width: 1px;
  max-height: 25rem;
  background: var(--gray-600);

  transform: rotate(180deg);
}

.aboutCompany div svg {
  margin-bottom: 2rem;
}

.aboutCompany div h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--green);
}

.aboutCompany div p {
  text-align: center;
  font-size: 0.87rem;
  font-weight: 400;
  padding: 1rem;
}

@media (max-width: 1168px) {
  .aboutCompany > .span2 {
    display: none;
  }
}

@media (max-width: 700px) {
  .aboutCompany > span {
    display: none;
  }
}