footer {
  display: flex;
  background: var(--gray-800);
  width: 100%;
  height: 100%;
  min-height: 20rem;
  padding: 2rem;
  
  align-items: center;
  justify-content: center;
  
  gap: 5rem;
}

footer > span {
  position: absolute;
  bottom: -3%;
  align-self: center;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, var(--gray-800), var(--green), var(--gray-800));
  opacity: 20%;
}

@media (max-width: 1010px) {
  footer {
    align-items: flex-start;
  }

  footer > span {
    display: none;
  }

  .pagesDescriptions {
    max-width: 30rem;
  }
}

.infoBusiness {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logo > span {
  align-self: center;
  margin-top: 1rem;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, var(--gray-800), var(--green), var(--gray-800));
  opacity: 30%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.info p {
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--gray-300);
}

.info nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.info nav a {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  background: var(--gray-600);
  border-radius: 0.3rem;
  transition: background 0.3s;
}

.info nav a:hover {
  background: var(--green);
}

.pagesDescriptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.pagesDescriptions ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pagesDescriptions ul li {
  list-style-type: none;
}

.pagesDescriptions ul li span {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.pagesDescriptions ul li a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-400);

  text-decoration: none;
}

.pagesDescriptions ul a:hover {
  color: var(--white);
}