header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 5.6rem;
  
  padding: 2rem;
  align-items: center;
  justify-content: space-around;

  background: transparent;
  transition: background 0.5s;
  box-shadow: 0 0 2px 0 var(--green);
  margin-bottom: 2px;
}

.scrolled {
  background: var(--gray-900);
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content button {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 2px;

  cursor: pointer;
}

.content .activeButton {
  font-weight: 600;
  padding: 2.2rem 0.5rem 2.2rem 0.5rem;
  border-bottom: 2px solid var(--green);
}

.content button:hover {
  font-weight: 600;
}

.button button {
  background: transparent;
  padding: 0.7rem 2.8rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  border: 1px solid var(--green);
  border-radius: 6px;
  border-color: var(--green);
  outline: 10px;
  box-shadow: 0 0 5px 0px var(--green);
  transition: background 0.5s;
}

.button button:hover {
  border: none;
  background: var(--green);
  box-shadow: none;
}