.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 2rem;
}

.content h1 {
  font-size: 3.75rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 930px) {
  .content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 570px) {
  .content h1 {
    font-size: 1.8rem;
  }
}

.content h1 strong {
  color: var(--green);
}

.content p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.button button {
  padding: 0.6rem;
  background: transparent;
  border: 2px solid var(--green);
  border-top: transparent;
  border-left: transparent;
  border-radius: 50%;

  cursor: pointer;

  /* animation: spinButton 1s linear infinite; */
}

/* @keyframes spinButton {
  to {
    transform: rotate(360deg);
  }
}  */