footer {
  display: flex;
  background: var(--gray-800);
  width: 100%;
  height: 22rem;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.infoBusiness {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.info p {
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--gray-300);
}

.info div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.info div a {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  background: var(--gray-600);
  border-radius: 0.3rem;
  transition: background 0.3s;
}

.info div a:hover {
  background: var(--green);
}

.pagesDescriptions {
  display: flex;
  gap: 4rem;
}

.pagesDescriptions div {
  display: flex;
  flex-direction: column;
}

.pagesDescriptions div a:first-child {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.pagesDescriptions div a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-400);

  text-decoration: none;
}

.pagesDescriptions div a:hover {
  color: var(--white);
}