header {
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: transparent;
  box-shadow: 0 0 2px 0 var(--green);
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content button {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.1rem;

  cursor: pointer;
}

.content button:hover {
  font-weight: 700;
}

.button button {
  background: var(--gray-800);
  padding: 0.7rem 2.8rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
  
  border: 1px solid var(--green);
  border-radius: 0.4rem;
  border-color: var(--green);
  outline: 10px;
  box-shadow: 0 0 5px 0px var(--green);
  transition: background 0.5s;
}

.button button:hover {
  border: none;
  background: var(--green);
  box-shadow: none;
}   

.button button:focus {
  outline: transparent;
  box-shadow: none;
}