.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo > img {
  width: 3.4rem;
}

.logo .logoName {
  display: flex;
  flex-direction: column;
}

.logo .logoName span:first-child {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
}

.logo .logoName span:last-child {
  color: var(--green);
  font-size: 0.9rem;
  font-weight: 300;
}