:root {
  --white: #fff;
  
  --gray-900: #101010;
  --gray-800: #151515;
  --gray-600: #3A3A3A;
  --gray-400: #A1A1A1;
  --gray-300: #E0E0E0;

  --green: #67C22F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
}

body {
  background: var(--gray-900);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}


body, input, textarea, button {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 890px) {
  html {
    font-size: 87.5%;
  }
}